<!DOCTYPE html>
  <html lang="id">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>JD Mobile Legend - Jasa Joki ML</title>
      <script src="https://cdn.tailwindcss.com"></script>
      <link rel="icon" href="../static/img/face.jpeg" type="image/x-icon">
       <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body class="">
      <header class="header text-white py-4 shadow-md">
          <div class="container mx-auto flex justify-between items-center px-6">
            <a href="{{url_for('home')}}"> 
                <img
                src="../static/img/face.jpeg"
                alt="face"
                class="h-9 w-9 rounded-full object-cover md:h-12 md:w-12 min-h-[36px] min-w-[36px] mr-3"></a>
             <a href="{{url_for('home')}}"><h1 class="text-2xl font-bold">JD Mobile Legend</h1></a> 
              <button id="menu-toggle" class="md:hidden text-white focus:outline-none">
                  ☰
              </button>
              <nav id="menu" class="header hidden md:flex md:space-x-6 absolute md:relative md:bg-transparent w-full md:w-auto top-16 left-0 md:top-0 md:left-auto shadow-md md:shadow-none p-6 md:p-0">
                  <ul class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6">
                      <li><a href="{{url_for('home')}}#services" class="hover:underline">Layanan</a></li>
                      <li><a href="{{url_for('home')}}#pricing" class="hover:underline">Harga</a></li>
                      <li><a href="{{url_for('home')}}#contact" class="hover:underline">Kontak</a></li>
                      <li><a href="{{url_for('home')}}#testimoni" class="hover:underline">Testimoni</a></li>
                      <li><a href="{{url_for('erd')}}" class="hover:underline">ERD</a></li>
                  </ul>
              </nav>
          </div>
      </header>

      <section id="pricing" class="py-20" id="harga">
        <div class="container mx-auto text-center px-6">
            <h3 class="text-3xl font-bold text-white">Paket Harga Full</h3>
            <p class="mb-10 text-white italic">Silahkan dicari sesuai kebutuhan</p>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/warrior.png" alt="Joki Rank" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Warrior</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp10.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Warrior%20Apakah%20bisa%20dibantu?" target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/silver.png" alt="Joki MMR" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Silver</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp15.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Silver%20Apakah%20bisa%20dibantu?"target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/master.png" alt="Joki Winrate" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Master</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp25.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Master%20Apakah%20bisa%20dibantu?"target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/grandmaster.png" alt="Joki Winrate" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Grandmaster</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp40.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Grand20%Master%20Apakah%20bisa%20dibantu?"target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/epic.png" alt="Joki Winrate" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Epic</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp60.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Epic%20Apakah%20bisa%20dibantu?"target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/legend.png" alt="Joki Winrate" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Legend</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp80.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Legend%20Glory.%20Apakah%20bisa%20dibantu?" target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/mytich.png" alt="Joki Winrate" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Mythic</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp100.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Mythic%20Apakah%20bisa%20dibantu?"target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/mytichglory.png" alt="Joki Winrate" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Mythical Glory</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp300.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Mytichal%20Glory.%20Apakah%20bisa%20dibantu?"target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
                <div class="bg-white p-6 shadow-md rounded-lg">
                    <img src="../static/img/warriorglory.png" alt="Joki Winrate" class="mx-auto mb-4 rounded-lg">
                    <h4 class="text-xl font-semibold">Warrior - Mythical Glory</h4>
                    <p class="text-gray-600 mt-2">Mulai dari Rp2.500.000</p>
                    <a href="https://wa.me/6283148505597?text=Halo,%20saya%20ingin%20memesan%20joki%20Mobile%20Legends%20paket%20Warrior-Mythical%20Glory.%20Apakah%20bisa%20dibantu?"target="_blank"
                       class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">
                        Pesan via WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="container mx-auto py-20 px-6 text-center">
        <h3 class="text-3xl font-bold mb-6 text-white">Hubungi Kami</h3>
        <p class="text-white">Pesan joki sekarang melalui WhatsApp.</p>
        <a href="https://wa.me/6283148505597" target="_blank" class="mt-4 inline-block bg-green-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-green-600">Chat WhatsApp</a>
    </section>
    
    <footer class="bg-gray-800 text-white text-center py-6 mt-10">
        <p>&copy; 2025 JD Mobile Legend. All Rights Reserved.</p>
    </footer>

    <script>
        document.getElementById('menu-toggle').addEventListener('click', function() {
            document.getElementById('menu').classList.toggle('hidden');
        });
    </script>
</body>
</html>